/*tag body*/
body {
    padding-top: 50px;
}
/*class*/
.navbar {
    background-color: blueviolet;
}
/*class*/
.navbar-brand, .navbar-nav .nav-link {
    color: #fff;
}
/*class*/
.jumbotron {
    background-image: url(':');
    color: #fff;
    text-align: center;
    padding: 50px;
}
/*class*/
.section {
    padding: 50px 0;
}
/*class*/
.footer {
    background-color: blueviolet;
    color: #fff;
    text-align: center;
    padding: 20px;
}
/*tag h1*/
h1{
    color:blueviolet;
}
h2 { color: blueviolet}
/*tag p*/
h3{
    color: white
}
p{
    color:black;
    text-align: justify;
}
/*id*/
#paragrafo{
    text-align: center;
}
/*id*/
#paragrafo1{
    text-align: center;
}
/*tag img*/
img{
    width: 300px;
    height: 25%;
}